.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9990;
  overflow: auto;
  background: black;
  opacity: .4;
}

.modal {
  position: absolute;
  top: 100px;
  left: 50%;
  max-width: 80%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: white;
  overflow: auto;
  z-index: 9999;
}

.modal.modal__center {
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
